@use '../abstracts/' as *;

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-size: fs(400);
  background-color: clr(neutral, 800);
  color: clr(neutral, 100);
}
